@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

body {
    background-size: cover !important;
}

html {
	height: 100% !important;
}
img.logo{
  width: 200px !important;
	height: 80px !important;
	overflow: hidden !important;
	border-radius: 50% !important;
	margin: 1px auto !important;
	position: relative !important;
	z-index: 1 !important;
}

body.login-form {
	font-size: 14px !important;
  height: 100vh !important;
  width: 100% !important;
}
.mycontainer {
  min-width: 100%;
  padding: 0 !important;
}

.background{
	background: url('background.png') no-repeat center center fixed !important; 
  background-size: auto;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
}

.nicebackground{
  background-color: #F7EDE2 !important;
background-size: cover !important;
-webkit-background-size: cover !important;
-moz-background-size: cover !important;
-o-background-size: cover !important;
}

.login-form .brand {
	width: 200px !important;
	height: 80px !important;
	overflow: hidden !important;
	border-radius: 50% !important;
	margin: 1px auto !important;
	position: relative !important;
	z-index: 1 !important;
}

.login-form .brand img {
	width: 100% !important;
    height: 100% !important;
}

.login-form .card-wrapper {
	width: 400px !important;
}

.login-form .card {
	border-color: transparent !important;
	box-shadow: 0 4px 8px rgba(0,0,0,.05) !important;
}

.login-form .card.fat {
	padding: 10px !important;
}

.login-form .card .card-title {
	margin-bottom: 30px !important;
}

.login-form .form-control {
	border-width: 2.3px !important;
}

.login-form .form-group label {
	width: 100% !important;
}

.login-form .btn.btn-block {
	padding: 13px 10px !important;
}

.login-form .footer {
	margin: 40px 0 !important;
	color: #888 !important;
	text-align: center !important;
}

@media screen and (max-width: 425px) {
	.login-form .card-wrapper {
		width: 90% !important;
		margin: 0 auto !important;
	}
}

@media screen and (max-width: 320px) {
	.login-form .card.fat {
		padding: 0 !important;
	}

	.login-form .card.fat .card-body {
		padding: 15px !important;
	}
}

.login-form .button_container {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 30% !important;
  }
  
  .login-form .description, .link {
    font-family: 'Amatic SC', cursive !important;
    text-align: center !important;
  }
  
  .login-form .description {
    font-size: 35px !important;
  }
  

  .login-form .btn {
    border: none !important;
    display: block !important;
    text-align: center !important;
    cursor: pointer !important;
    text-transform: uppercase !important;
    outline: none !important;
    overflow: hidden !important;
    position: relative !important;
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    background-color: #3A405A !important;
    padding: 17px 60px !important;
    margin: 0 auto !important;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20) !important;
  }
  
  .login-form .btn span {
    position: relative !important; 
    z-index: 1 !important;
  }
  
  .login-form .btn:after {
    content: "" !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    height: 490% !important;
    width: 140% !important;
    background: #0991e0 !important;
    -webkit-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg) !important;
    transform: translateX(-98%) translateY(-25%) rotate(45deg) !important;
  }
  
  .login-form .btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg) !important;
    transform: translateX(-9%) translateY(-25%) rotate(45deg) !important;
  }
  
  .login-form .link {
    font-size: 20px !important;
    margin-top: 30px !important;
  }
  
  .login-form .link a {
    color: #000 !important;
    font-size: 25px !important; 
  }

  .login-form .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    border-radius: 50%;
  }

  .login-form i {
    position: absolute;
    top: 209px;
    right: 14%;
  }
  .password i {
    position: absolute;
    top: 292px;
    right: 14%;
  }
  .confirm i {
    position: absolute;
    top: 375px;
    right: 14%;
  }
  i:hover {
    color: #00fcb6;
    cursor: pointer;
  }


  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: #f9f9f9;
  }
  
  /* Twitter */
  .fa-google {
    background: #ff0000;
    color: rgb(255, 255, 255);
  }

  .social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.stylegoogleButton {
    margin:5px;
    width: 300px;
    height:35px;
    border-radius: 4px;
    background-image: #db3236;
    color:#f9f9f9;
    border:0px transparent;
    text-align: right;
    margin: 0 auto;
    width: 100%;
}

.stylefacebookButton {
    margin:5px;
    width: 300px;
    height:35px;
    border-radius: 4px;
    background-image: #db3236;
    color:#f9f9f9;
    border:0px transparent;
    text-align: right;
    margin: 0 auto;
    width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

main {
  .sidebar {
    left: 0;
    position: fixed !important;
    width: 13% !important;
    height: 100vh !important;
    background: #3A405A !important;
    font-size: 0.65em !important;
  }
  
  .user-text {
    font-size: 1em !important;
  }

  .nav {
    position: relative !important;
    margin: 0 13% !important;
    text-align: right !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    font-weight: bold !important;
  }
  
  .nav ul {
    list-style: none !important;

    li {
      position: relative !important;
      margin: 3.2em 0 !important;
  
      button {
        border: none !important;
        display: block !important;
        text-align: center !important;
        cursor: pointer !important;
        text-transform: uppercase !important;
        outline: none !important;
        overflow: hidden !important;
        position: relative !important;
        color: #fff !important;
        font-weight: 700 !important;
        font-size: 15px !important;
        background-color: #000 !important;
        padding: 17px 25px !important;
        margin: 0 auto !important;
        box-shadow: 0 5px 15px rgba(0,0,0,0.20) !important;
      }

      a {
        line-height: 5em !important;
        text-transform: uppercase !important;
        text-decoration: none !important;
        letter-spacing: 0.4em !important;
        color: rgba(rgb(255, 255, 255), 0.65) !important;
        display: block !important;
        transition: all ease-out 300ms !important;
      }
      
      &.active a {
        color: rgb(255, 255, 255) !important;
      }
      
      &:not(.active)::after {
        opacity: 0.2 !important;
      }
      
      &:not(.active):hover a {
        color: rgba(rgb(255, 255, 255), 1.0) !important;
      }
      
      &::after {
        content: '' !important;
        position: absolute !important;
        width: 100% !important;
        height: 0.2em !important;
        background: rgb(255, 255, 255) !important;
        left: 0 !important;
        bottom: 0 !important;
        background-image: linear-gradient(to right, #5e42a6, #b74e91) !important;
      }
    }
  }
}

.pet-container {

  margin: auto !important;
    font-family: "Poppins", Arial, san-serif !important;
    line-height: 1.4 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: color(#f9f9f9) !important;
    height: 100% !important;

  @import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600");

  * {
    box-sizing: border-box !important;
  }

  html,
  body {
    height: 100% !important;
  }

  .pet-card {
    background: url("https://www.simpleimageresizer.com/_uploads/photos/dfb106fc/pets-background_40.jpg")
      center no-repeat !important;
      height: 400px;
      width: 400px;
  box-shadow: 0 10px 30px -5px rgba(60, 60, 60, 0.2);
  text-align: center;
  padding: 20px 80px;

    img {
      background-color: color(#dddfe6) !important;
      height: 175px !important;
      width: 175px !important;
      border-radius: 50% !important;
      margin: auto auto 15px !important;
      display: block !important;
    }
    h1 {
      font-size: 22px !important;
      margin: 10px auto 0 !important;
      letter-spacing: 1px !important;
    }
    h2 {
      margin: auto !important;
      color: darken(#292a2c, 15) !important;
      font-weight: 300 !important;
      font-size: 14px !important;
    }

    .button {
      display: block !important;
      text-decoration: none !important;
      background: color(#3b70fc) !important;
      color: color(#008cff) !important;
      padding: 12px !important;
      border: none !important;
      border-radius: 25px !important;
      margin-top: 1px !important;
      font-size: 16px !important;
      font-weight: 700 !important;
      min-width: 200px !important;
      transition: 0.2s !important;

      span {
        font-size: 20px !important;
        line-height: 1 !important;
        vertical-align: top !important;
      }
      
      &:hover {
        background: darken(#3b70fc, 1) !important;
      }
    }
  }
}

.pet-info-container {
  background-color: white;
  height: 30rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
 
 
    .pet-name {
      font-size: 32px;
    }
    .pet-age {
      font-size: 20px;
    }
 
}

.landing {
  @import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Open+Sans:400,400i,700");
  body {
    font-family: "Open Sans", sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif !important;
    color: #000 !important;
    font-weight: 400 !important;
    line-height: 1 !important;
  }

  h1 {
    font-size: 60px !important;
  }

  h2 {
    font-size: 48px !important;
  }

  h3 {
    font-size: 36px !important;
  }

  h4 {
    font-size: 30px !important;
  }

  h5 {
    font-size: 20px !important;
  }

  h6 {
    font-size: 16px !important;
  }

  p, li, blockquote, label {
    font-size: 14px !important;
    letter-spacing: 0 !important;
    line-height: 22px !important;
    color: #999999 !important;
    margin-bottom: 0 !important;
  }

  p {
    line-height: 27px !important;
  }

  .app-store {
    margin-top: -80px !important;
  }

  .lead {
    font-size: 1.5rem !important;
    line-height: 1.5 !important;
  }

  cite {
    font-size: 14px !important;
    font-style: normal !important;
  }

  .form-control::-webkit-input-placeholder {
    color: #999999 !important;
    font-size: 16px !important;
  }

  .app-badge ul li.list-inline-item:not(:last-child) {
    margin-right: 25px !important;
  }

  @media (max-width: 768px) {
    .app-badge ul li.list-inline-item:not(:last-child) {
      margin-bottom: 25px !important;
      margin-right: 0 !important;
    }
  }

  ul.feature-list {
    margin: 0 !important;
    padding: 0 !important;
  }

  ul.feature-list li {
    list-style: none !important;
    margin: 15px 0 !important;
    font-size: 16px !important;
  }

  ul.post-tag {
    margin-bottom: 20px !important;
  }

  ul.post-tag li {
    font-size: 14px !important;
  }

  ul.post-tag li img {
    width: 25px !important;
    height: 25px !important;
    border-radius: 100% !important;
    margin-right: 5px !important;
  }

  ul.post-tag li a {
    font-size: 14px !important;
  }

  ul.post-tag li:last-child {
    margin-left: 25px !important;
  }

  ul.social-icons li a {
    display: block !important;
    height: 35px !important;
    width: 35px !important;
    background: #f8f8f8 !important;
    text-align: center !important;
    border-radius: 100% !important;
  }

  ul.social-icons li a i {
    font-size: 16px !important;
    line-height: 35px !important;
  }

  ul.rating {
    margin-bottom: 0 !important;
  }

  ul.rating li {
    color: #FFC000 !important;
    font-size: 26px !important;
  }

  .shadow, .about .about-block .about-item, .screenshots .screenshot-slider .image img, .counter .counter-item, .team-member, .service .service-box, .founder img, .team-sm .image img, .post-sm, .job-list .block, .privacy .block, .user-login .block .image img, .coming-soon .block .count-down .syotimer-cell {
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05) !important;
  }

  .transition, .main-nav, .main-nav .navbar-brand {
    transition: .3s ease !important;
  }

  .overlay:before {
    content: '' !important;
    background: rgba(125, 113, 211, 0.9) !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }

  a {
    color: inherit !important;
    transition: .2s ease !important;
  }

  a:focus,
  a:hover {
    color: #7d71d3 !important;
    text-decoration: none !important;
  }

  .bg-1 {
    background: url("background.png") no-repeat !important;
    background-size: cover !important;
  }

  .bg-2 {
    background: url('./assets/images/backgrounds/elipse-bg.png') no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
  }

  .bg-3 {
    background: url("./assets/images/backgrounds/desk-bg.jpg") fixed no-repeat !important;
    background-size: cover !important;
  }

  .bg-banner-2 {
    background: url('./assets/images/backgrounds/banner-bg-two.jpg') no-repeat !important;
    background-size: cover !important;
  }

  .bg-elipse {
    background: url("./assets/images/backgrounds/elipse-bg-three.png") no-repeat !important;
    background-position: center !important;
  }

  .bg-elipse-red {
    background: url('./assets/images/backgrounds/elipse-bg-two.png') no-repeat !important;
    background-position: center !important;
  }

  .bg-elipse-half {
    background: url('./assets/images/backgrounds/elipse-bg-three.png') no-repeat !important;
    background-position: center !important;
  }

  .bg-shape {
    background: url('./assets/images/backgrounds/shape-bg.png') no-repeat !important;
    background-position: center !important;
  }

  .bg-primary-shape {
    background: url('./assets/images/backgrounds/shape-overlay-bg.jpg') no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }

  .bg-shape-two {
    background: url('./assets/images/backgrounds/shape-02-bg.png') no-repeat !important;
    background-position: center !important;
  }

  .text-primary {
    color: #7d71d3 !important;
  }

  .bg-gray {
    background: #f8f8f8 !important;
  }

  .bg-blue {
    background: #7d71d3 !important;
  }

  .bg-coming-soon {
    background-size: cover !important;
    background-position: bottom !important;
  }

  .section {
    padding: 100px 0 !important;
  }

  .section-title {
    text-align: center !important;
    margin-bottom: 85px !important;
  }

  .section-title h2 {
    font-size: 48px !important;
    font-family: "Josefin Sans", sans-serif !important;
    font-weight: 500 !important;
    margin-bottom: 30px !important;
  }

  .section-title p {
    width: 70% !important;
    margin: 0 auto !important;
    font-size: 16px !important;
    line-height: 30px !important;
  }

  @media (max-width: 480px) {
    .section-title p {
      width: 100% !important;
    }
  }

  .page-title {
    text-align: center !important;
  }

  .slick-slide {
    outline: 0 !important;
  }


  .form-control {
    background: #fff !important;
    padding: 20px 20px !important;
    border: none !important;
    height: 60px !important;
    font-size: 14px !important;
    border-radius: 4px !important;
  }

  .form-control:focus {
    border-color: #7d71d3 !important;
    outline: 0 !important;
    box-shadow: none !important;
  }

  .input-group {
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05) !important;
    border-radius: 4px !important;
  }

  .input-group .input-group-text {
    padding-left: 35px !important;
    padding-right: 35px !important;
    background: #7d71d3 !important;
    color: #fff !important;
    cursor: pointer !important;
  }

  .form-control::-webkit-input-placeholder {
    color: #999999 !important;
    font-size: 14px !important;
  }

  .left {
    overflow: hidden !important;
  }

  .left img {
    margin-left: -40px !important;
  }

  @media (max-width: 768px) {
    .left img {
      margin-left: 0 !important;
      margin-bottom: 30px !important;
    }
  }

  .right {
    overflow: hidden !important;
  }

  .right img {
    margin-left: 40px !important;
  }

  @media (max-width: 768px) {
    .right img {
      margin-left: 0 !important;
    }
  }

  .hide-overflow, .service {
    overflow: hidden !important;
  }

  .nav-up {
    top: -70px !important;
  }

  @media (max-width: 768px) {
    .mb-md-30 {
      margin-bottom: 30px !important;
    }
  }

  .btn {
    text-transform: uppercase !important;
  }

  .btn-download {
    padding: 10px 25px !important;
    font-size: 14px !important;
    background: #232323 !important;
    color: #fff !important;
    display: flex !important;
    align-items: center !important;
    text-align: left !important;
  }

  .btn-download i {
    font-size: 40px !important;
    margin-right: 10px !important;
  }

  .btn-download span {
    display: block !important;
    font-size: 20px !important;
  }

  .btn-download:hover {
    color: #fff !important;
  }

  .btn-main {
    padding: 25px 45px !important;
    border-radius: 3px !important;
    background: #7d71d3 !important;
    color: #fff !important;
    outline: none !important;
  }

  .btn-main:hover {
    color: #fff !important;
  }

  .btn-main:focus {
    color: #fff !important;
    box-shadow: none !important;
  }

  .btn-main-rounded {
    letter-spacing: .075em !important;
    background: #7d71d3 !important;
    color: #fff !important;
    text-transform: uppercase !important;
    padding: 15px 40px !important;
    border-radius: 100px !important;
  }

  .btn-main-rounded:hover {
    color: #fff !important;
  }

  .btn-main-md {
    padding: 17px 38px !important;
    border-radius: 3px !important;
    background: #7d71d3 !important;
    color: #fff !important;
    outline: none !important;
  }

  .btn-main-md:hover {
    color: #fff !important;
  }

  .btn-main-md:focus {
    color: #fff !important;
    box-shadow: none !important;
  }

  .btn-main-sm {
    padding: 15px 35px !important;
    border-radius: 3px !important;
    background: #7d71d3 !important;
    color: #fff !important;
    outline: none !important;
    font-size: 14px !important;
  }

  .btn-main-sm:hover {
    color: #fff !important;
  }

  .btn-main-sm:focus {
    color: #fff !important;
    box-shadow: none !important;
  }

  .btn-white {
    background: white !important;
    color: #7d71d3 !important;
  }

  .btn-rounded-icon {
    border-radius: 100px !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    padding: 13px 50px !important;
  }

  .main-nav {
    background: #776bd5 !important;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1) !important;
  }

  .main-nav .navbar-brand {
    padding: 0 !important;
  }

  .main-nav .navbar-nav .nav-item {
    .myLogin {
      border: none !important;
        display: block !important;
        text-align: center !important;
        cursor: pointer !important;
        text-transform: uppercase !important;
        outline: none !important;
        overflow: hidden !important;
        position: relative !important;
        color: #fff !important;
        font-weight: 700 !important;
        font-size: 12px !important;
        background-color: #000000 !important;
        padding: 10px 15px !important;
        margin-left: 15px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.20) !important;
    }
    position: relative !important;
    left: 710px !important;
  }

  .main-nav .navbar-nav .nav-item .nav-link {
    position: relative !important;
    text-align: center !important;
    font-size: 13px !important;
    text-transform: uppercase !important;
    color: #fff !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .navbar-toggler:focus, .navbar-toggler:hover {
    outline: none !important;
  }

  .large {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  .small {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .footer-main {
    padding: 50px 0 !important;
    background: #7d71d3 !important;
  }

  @media (max-width: 768px) {
    .footer-main {
      text-align: center !important;
    }
  }

  .footer-main .footer-logo {
    margin-bottom: 15px !important;
  }

  .footer-main .copyright {
    opacity: .7 !important;
  }

  .footer-main .copyright p {
    color: #fff !important;
  }

  .footer-main .copyright a:hover {
    color: #fff !important;
  }

  @media (max-width: 768px) {
    .footer-main ul.social-icons {
      margin-top: 30px !important;
    }
  }

  .footer-main ul.footer-links {
    margin-top: 44px !important;
  }

  @media (max-width: 768px) {
    .footer-main ul.footer-links {
      margin-top: 20px !important;
    }
  }

  .footer-main ul.footer-links li a {
    color: #fff !important;
    padding: 0 10px !important;
    display: block !important;
    opacity: .7 !important;
  }

  .footer-main ul.footer-links li a:hover {
    opacity: 1 !important;
  }

  .footer-main ul.footer-links li:last-child a {
    padding-right: 0 !important;
  }

  .footer-classic {
    background: #fafafa !important;
    text-align: center !important;
    padding: 110px 0 !important;
  }

  .footer-classic ul.social-icons {
    margin-bottom: 30px !important;
  }

  @media (max-width: 480px) {
    .footer-classic ul.social-icons li {
      margin-bottom: 10px !important;
    }
  }

  .footer-classic ul.social-icons li a {
    padding: 0 20px !important;
    display: block !important;
  }

  .footer-classic ul.social-icons li a i {
    font-size: 25px !important;
    color: #000 !important;
  }

  .footer-classic ul.footer-links li a {
    padding: 0 10px !important;
    display: block !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
    color: #000 !important;
  }

  @media (max-width: 768px) {
    .cta-subscribe .image {
      margin-bottom: 30px !important;
      text-align: center !important;
    }
  }

  .cta-subscribe .content {
    margin-left: 25px !important;
  }

  @media (max-width: 768px) {
    .cta-subscribe .content {
      text-align: center !important;
    }
  }

  .cta-subscribe .content .title {
    margin-bottom: 25px !important;
  }

  .cta-subscribe .content .title h2 {
    font-family: "Josefin Sans", sans-serif !important;
    font-weight: 300 !important;
  }

  .cta-subscribe .content .description {
    margin-bottom: 40px !important;
  }

  .cta-subscribe .content .subscription-tag {
    margin-top: 25px !important;
  }

  .cta-subscribe .content .subscription-tag p {
    color: #7d71d3 !important;
    letter-spacing: .1em !important;
  }

  .call-to-action-app {
    text-align: center !important;
  }

  .call-to-action-app h2, .call-to-action-app p, .call-to-action-app a {
    color: #fff !important;
  }

  .call-to-action-app p {
    margin-bottom: 60px !important;
  }

  .call-to-action-app ul li {
    margin-left: 15px !important;
  }

  @media (max-width: 480px) {
    .call-to-action-app ul li {
      margin-left: 0 !important;
      margin-bottom: 10px !important;
    }
  }

  .call-to-action-app ul li:first-child {
    margin-left: 0 !important;
  }

  .call-to-action-app ul li a i {
    font-size: 20px !important;
    margin-right: 5px !important;
  }

  .cta-hire {
    background: #FAFAFA !important;
  }

  .cta-hire p {
    width: 65% !important;
    margin: 0 auto !important;
  }

  .cta-hire h2, .cta-hire p {
    margin-bottom: 20px !important;
  }

  .cta-community {
    margin: 50px 0 !important;
    padding: 40px 100px !important;
    display: flex !important;
  }

  @media (max-width: 768px) {
    .cta-community {
      flex-wrap: wrap !important;
      text-align: center !important;
    }
  }

  @media (max-width: 400px) {
    .cta-community {
      padding: 20px !important;
    }
  }

  .cta-community .content, .cta-community .action-button {
    justify-content: center !important;
  }

  .cta-community .action-button {
    align-self: center !important;
  }

  @media (max-width: 768px) {
    .cta-community .action-button {
      width: 100% !important;
      text-align: center !important;
      margin-top: 20px !important;
    }
  }

  .jd-modal .modal-content {
    padding: 25px !important;
    text-align: left !important;
    background: #fafafa !important;
  }

  .jd-modal .modal-content .modal-header .modal-title {
    color: #000 !important;
  }

  .jd-modal .modal-content .modal-body .block-2 {
    display: flex !important;
    margin-bottom: 70px !important;
  }

  .jd-modal .modal-content .modal-body .block-2 .title {
    width: 30% !important;
  }

  .jd-modal .modal-content .modal-body .block-2 .title p {
    color: #000 !important;
  }

  .jd-modal .modal-content .modal-body .block-2 .details {
    width: 70% !important;
  }

  .jd-modal .modal-content .modal-body .block-2 .details ul {
    padding-left: 0 !important;
    margin: 0 !important;
  }

  .jd-modal .modal-content .modal-body .block-2 .details ul li {
    list-style: none !important;
    margin-bottom: 5px !important;
  }

  .jd-modal .modal-content .modal-body .block-2 .details ul li span {
    padding-right: 5px !important;
    color: #000 !important;
  }

  .jd-modal .modal-content .modal-body .form-title {
    margin-bottom: 30px !important;
  }

  .testimonial-slider .client-img {
    background-size: cover !important;
    background-position: 15px 0 !important;
    background-repeat: no-repeat !important;
    min-height: 250px !important;
  }

  .testimonial-slider .slick-prev {
    left: -100px !important;
  }

  .testimonial-slider .slick-next {
    right: -100px !important;
  }

  .testimonial-slider .slick-prev, .testimonial-slider .slick-next {
    background: #fff !important;
    width: 65px !important;
    height: 55px !important;
    border-radius: 4px !important;
  }

  .testimonial-slider .slick-prev:hover:before, .testimonial-slider .slick-next:hover:before {
    color: #7d71d3 !important;
  }

  .testimonial-slider .slick-prev:before, .testimonial-slider .slick-next:before {
    color: #999999 !important;
  }

  .banner {
    padding: 150px 0 100px !important;
    min-height: 100vh !important;
  }

  .banner .content-block.ml-50 {
    margin-left: 50px !important;
  }

  @media (max-width: 768px) {
    .banner .content-block.ml-50 {
      margin-left: 30px !important;
    }
  }

  @media (max-width: 480px) {
    .banner .content-block.ml-50 {
      margin-left: 0 !important;
    }
  }

  .banner .content-block h1,
  .banner .content-block h5 {
    color: #fff !important;
  }

  .banner .content-block h1 {
    line-height: 70px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    letter-spacing: .06em !important;
    margin-bottom: 30px !important;
  }

  .banner .content-block h5 {
    margin-bottom: 75px !important;
  }

  @media (max-width: 480px) {
    .banner .content-block {
      text-align: center !important;
    }
  }

  @media (max-width: 480px) {
    .banner .image-block {
      margin-top: 30px !important;
      text-align: center !important;
    }
  }

  .phone-thumb {
    max-height: 550px !important;
  }

  .phone-thumb-md {
    max-height: 600px !important;
  }

  @media (max-width: 768px) {
    .about .image-block {
      text-align: center !important;
      margin-bottom: 30px !important;
    }
  }

  .about .about-block .about-item {
    background: #fff !important;
    display: flex !important;
    padding: 30px !important;
  }

  .about .about-block .about-item.active {
    background: #7d71d3 !important;
  }

  .about .about-block .about-item.active .icon i {
    color: #fff !important;
  }

  .about .about-block .about-item.active .content h5,
  .about .about-block .about-item.active .content p {
    color: #fff !important;
  }

  .about .about-block .about-item .icon {
    width: 50px !important;
  }

  .about .about-block .about-item .icon i {
    font-size: 48px !important;
    color: #7d71d3 !important;
  }

  .about .about-block .about-item .content {
    margin-left: 30px !important;
  }

  .about .about-block .about-item .content h5 {
    text-transform: uppercase !important;
    font-weight: 600 !important;
    margin-bottom: 15px !important;
  }

  .about .about-block .about-item:not(:last-child) {
    margin-bottom: 30px !important;
  }

  .feature .feature-item .icon {
    margin-bottom: 15px !important;
  }

  .feature .feature-item .icon i {
    font-size: 48px !important;
    color: #7d71d3 !important;
  }

  .feature .feature-item .content h5 {
    text-transform: uppercase !important;
    font-weight: 600 !important;
    margin-bottom: 15px !important;
  }

  .feature .feature-item:not(:last-child) {
    margin-bottom: 60px !important;
  }

  @media (max-width: 768px) {
    .feature .feature-item {
      margin-bottom: 60px !important;
    }
  }

  .feature .app-screen {
    margin: 20px 0 !important;
  }

  .feature .app-screen img {
    max-height: 400px !important;
  }n

  .screenshots {
    overflow: hidden !important;
  }

  .screenshots .screenshot-slider .slick-dots {
    bottom: -60px !important;
  }

  .screenshots .screenshot-slider .slick-dots li {
    margin: 0 10px !important;
  }

  .screenshots .screenshot-slider .slick-dots li button {
    border: 4px solid #7d71d3 !important;
    border-radius: 100% !important;
  }

  .screenshots .screenshot-slider .slick-dots li button:before {
    content: none !important;
  }

  .screenshots .screenshot-slider .slick-dots li.slick-active button {
    background: #7d71d3 !important;
  }

  .cta-download {
    position: relative !important;
    padding: 80px 0 !important;
  }

  .cta-download .image-block {
    position: absolute !important;
    top: -150px !important;
    left: 100px !important;
  }

  @media (max-width: 992px) {
    .cta-download .image-block {
      display: none !important;
    }
  }

  .cta-download .content-block h2,
  .cta-download .content-block p {
    color: #fff !important;
  }

  .cta-download .content-block h2 {
    font-weight: 500 !important;
    font-family: "Josefin Sans", sans-serif !important;
    margin-bottom: 30px !important;
  }

  .cta-download .content-block p {
    line-height: 30px !important;
    margin-bottom: 40px !important;
  }

  .cta-subscribe h2 {
    font-weight: 500 !important;
    font-family: "Josefin Sans", sans-serif !important;
  }

  .counter {
    padding-top: 180px !important;
  }

  .counter .counter-item {
    text-align: center !important;
    background: #7d71d3 !important;
    padding: 40px 0 !important;
    border-radius: 8px !important;
  }

  @media (max-width: 768px) {
    .counter .counter-item {
      margin-bottom: 30px !important;
    }
  }

  .counter .counter-item h3,
  .counter .counter-item p {
    color: #fff !important;
    text-transform: uppercase !important;
  }

  .counter .counter-item h3 {
    margin-bottom: 20px !important;
    font-weight: 600 !important;
  }

  .slider {
    padding: 180px 0 300px !important;
    text-align: center !important;
    position: relative !important;
    overflow: hidden !important;
  }

  .slider .block {
    position: relative !important;
  }

  .slider .block h1,
  .slider .block h3 {
    color: #fff !important;
  }

  .slider .block .download {
    margin-top: 20px !important;
  }

  .slider .block .image-content {
    text-align: center !important;
  }

  .slider .block .image-content img {
    margin-top: 100px !important;
    margin-bottom: -200px !important;
  }

  .slider:before {
    content: '' !important;
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
    border-bottom: 290px solid #fff !important;
    border-left: 2000px solid transparent !important;
    width: 0 !important;
  }

  .services .service-block {
    background: #fff !important;
    padding: 30px 40px !important;
    margin-bottom: 30px !important;
    border-radius: 5px !important;
  }

  .services .service-block:last-child {
    margin-bottom: 0 !important;
  }

  @media (max-width: 480px) {
    .services .service-block:last-child {
      margin-bottom: 30px !important;
    }
  }

  .services .service-block h3 {
    line-height: 30px !important;
    text-transform: capitalize !important;
    font-size: 16px !important;
    font-weight: 500 !important;
  }

  .services .service-block i {
    font-size: 30px !important;
    color: #7d71d3 !important;
    margin-bottom: 15px !important;
    display: inline-block !important;
  }

  .services .service-block p {
    margin-bottom: 0 !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .services .app-preview {
    display: flex !important;
    justify-content: center !important ;
  }

  .services .app-preview img {
    height: 500px !important;
    width: auto !important;
  }

  @media (max-width: 768px) {
    .services .col-lg-4.m-auto {
      display: none !important;
    }
  }

  @media (max-width: 768px) {
    .service .service-thumb {
      width: 80% !important;
      margin: 0 auto !important;
    }
  }

  .service .service-box {
    padding: 20px !important;
    background: #fff !important;
    border-radius: 4px !important;
  }

  @media (max-width: 768px) {
    .service .service-box {
      width: 80% !important;
      margin: 0 auto !important;
    }
  }

  .service .service-box .service-item {
    text-align: center !important;
    padding: 10px !important;
    margin: 20px 0 !important;
  }

  .service .service-box .service-item i {
    font-size: 20px !important;
    color: #7d71d3 !important;
    display: inline-block !important;
    margin-bottom: 10px !important;
  }

  .service .service-box .service-item p {
    font-size: 14px !important;
  }

  .feature .feature-content h2,
  .feature .feature-content p {
    margin-bottom: 25px !important;
  }

  @media (max-width: 768px) {
    .feature .feature-content h2,
    .feature .feature-content p {
      text-align: center !important;
    }
  }

  @media (max-width: 768px) {
    .feature .testimonial {
      text-align: center !important;
    }
  }

  .feature .testimonial p {
    font-family: "Josefin Sans", sans-serif !important;
    margin-bottom: 10px !important;
    font-style: italic !important;
    color: #242424 !important;
  }

  .feature .testimonial ul.meta li {
    font-size: 12px !important;
    margin-right: 10px !important;
  }

  .feature .testimonial ul.meta li img {
    height: 40px !important;
    width: 40px !important;
    border-radius: 100% !important;
  }

  @media (max-width: 480px) {
    .app-features .app-feature {
      margin-bottom: 30px !important;
    }
  }

  .app-features .app-explore {
    display: flex !important;
    justify-content: center !important;
    margin-bottom: 40px !important;
  }

  .banner-full .image {
    display: flex !important;
    justify-content: center !important;
  }

  .banner-full .image img {
    height: 625px !important;
  }

  @media (max-width: 768px) {
    .banner-full .image {
      margin-bottom: 30px !important;
    }
  }

  @media (max-width: 768px) {
    .banner-full .block {
      text-align: center !important;
    }
  }

  .banner-full .block .logo {
    margin-bottom: 40px !important;
  }

  .banner-full .block h1 {
    margin-bottom: 40px !important;
  }

  .banner-full .block p {
    font-size: 20px !important;
    margin-bottom: 50px !important;
  }

  .banner-full .block .app {
    margin-bottom: 20px !important;
  }

  .founder {
    margin-bottom: 30px !important;
  }

  .founder img {
    border-radius: 5px !important;
    margin-bottom: 25px !important;
  }

  .founder h2 {
    font-size: 30px !important;
    line-height: 30px !important;
  }

  .founder cite {
    font-size: 14px !important;
    font-style: normal !important;
  }

  .founder p {
    margin-top: 10px !important;
    font-size: 14px !important;
    margin-bottom: 20px !important;
  }

  .team-sm {
    margin-bottom: 30px !important;
  }

  .team-sm .image {
    position: relative !important;
    overflow: hidden !important;
    margin-bottom: 30px !important;
  }

  .team-sm .image img {
    border-radius: 5px !important;
  }

  .team-sm .image .social-links {
    position: absolute !important;
    background: #7d71d3 !important;
    left: 0 !important;
    right: 0 !important;
    text-align: center !important;
    width: calc(100% - 80px) !important;
    margin: 0 40px !important;
    border-radius: 4px !important;
    opacity: 0 !important;
    -webkit-transform: translate3d(0, 10px, 0) !important;
            transform: translate3d(0, 10px, 0) !important;
    transition: 0.3s !important;
    bottom: 20px !important;
  }

  .team-sm .image .social-links ul {
    margin-bottom: 0 !important;
  }

  .team-sm .image .social-links ul li a {
    display: block !important;
    padding: 15px !important;
  }

  .team-sm .image .social-links ul li a i {
    font-size: 20px !important;
    color: #fff !important;
  }

  .team-sm .image:hover .social-links {
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
  }

  .team-sm h3 {
    margin-bottom: 0 !important;
  }

  .team-sm cite {
    font-size: 14px !important;
    font-style: normal !important;
  }

  .team-sm p {
    margin-top: 15px !important;
  }

  .featured-article {
    padding: 0 0 50px 0 !important;
  }

  .featured-article article.featured {
    display: flex !important;
  }

  @media (max-width: 768px) {
    .featured-article article.featured {
      flex-wrap: wrap !important;
    }
  }

  .featured-article article.featured .image {
    flex-basis: 100% !important;
    padding: 20px !important;
  }

  .featured-article article.featured .image img {
    width: 100% !important;
    border-radius: 8px !important;
  }

  @media (max-width: 768px) {
    .featured-article article.featured .image {
      margin-bottom: 20px !important;
    }
  }

  .featured-article article.featured .content {
    margin-left: 30px !important;
    flex-basis: 100% !important;
    align-self: center !important;
  }

  @media (max-width: 768px) {
    .featured-article article.featured .content {
      text-align: center !important;
    }
  }

  .featured-article article.featured .content h2 {
    margin-bottom: 20px !important;
  }

  .featured-article article.featured .content h2 a {
    font-size: 30px !important;
    color: #000 !important;
  }

  .featured-article article.featured .content h2 a:hover {
    color: #7d71d3 !important;
  }

  .featured-article article.featured .content p {
    margin-bottom: 25px !important;
  }

  .post-sm {
    margin: 10px 0 !important;
    background: #fff !important;
  }

  .post-sm .post-thumb {
    overflow: hidden !important;
  }

  .post-sm .post-thumb img {
    transition: .3s ease !important;
  }

  .post-sm .post-content {
    padding: 30px !important;
  }

  .post-sm .post-content .post-title {
    margin-bottom: 15px !important;
  }

  .post-sm .post-content .post-title h2 {
    font-size: 20px !important;
  }

  .post-sm .post-content .post-title h2 a {
    font-weight: 600 !important;
    text-transform: uppercase !important;
    line-height: 30px !important;
    color: #000 !important;
    font-size: 20px !important;
  }

  .post-sm .post-content .post-details {
    margin-bottom: 30px !important;
  }

  .post-sm .post-content .post-details p {
    line-height: 30px !important;
  }

  .post-sm .post-content .excerpts a {
    color: #000 !important;
    letter-spacing: 0.075em !important;
    font-size: 16px !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
  }

  .post-sm .post-content .excerpts a span {
    font-weight: 600 !important;
    font-size: 16px !important;
    color: #000 !important;
    margin-left: 10px !important;
  }

  .post-sm .post-content .excerpts a:hover {
    color: #7d71d3 !important;
  }

  .post-sm .post-content .excerpts a:hover span {
    color: #7d71d3 !important;
  }

  .blog-single .single-post {
    padding-bottom: 70px !important;
  }

  .blog-single .single-post .post-body .feature-image {
    margin-bottom: 30px !important;
  }

  .blog-single .single-post .post-body .feature-image img {
    width: 100% !important;
  }

  .blog-single .single-post .post-body p {
    margin-bottom: 20px !important;
  }

  .blog-single .single-post .post-body .quote {
    padding: 30px 0 !important;
    width: 80% !important;
    margin: 0 auto !important;
  }

  @media (max-width: 768px) {
    .blog-single .single-post .post-body .quote {
      width: 80% !important;
    }
  }

  .blog-single .single-post .post-body .quote blockquote {
    color: #000 !important;
    padding: 10px 0 10px 30px !important;
    text-align: left !important;
    font-size: 30px !important;
    line-height: 40px !important;
    border-left: 6px solid #666666 !important;
  }

  .blog-single .single-post .post-body .post-image {
    width: 60% !important;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
  }

  .blog-single .about-author h2 {
    padding-bottom: 15px !important;
    border-bottom: 1px solid #cccccc !important;
    margin-bottom: 30px !important;
    font-size: 30px !important;
  }

  @media (max-width: 480px) {
    .blog-single .about-author h2 {
      text-align: center !important;
    }
  }

  @media (max-width: 480px) {
    .blog-single .about-author .media {
      flex-wrap: wrap !important;
    }
  }

  @media (max-width: 480px) {
    .blog-single .about-author .media .image {
      flex-grow: 1 !important;
      width: 100% !important;
      display: flex !important;
      justify-content: center !important;
    }
  }

  .blog-single .about-author .media .image img {
    width: 150px !important;
    height: 150px !important;
    border-radius: 100% !important;
  }

  .blog-single .about-author .media .media-body {
    margin-left: 40px !important;
  }

  @media (max-width: 480px) {
    .blog-single .about-author .media .media-body {
      flex-grow: 1 !important;
      width: 100% !important;
      text-align: center !important;
      margin-left: 0 !important;
      margin-top: 20px !important;
    }
  }

  .blog-single .about-author .media .media-body p {
    margin-bottom: 15px !important;
  }

  .related-articles .title {
    margin-bottom: 20px !important;
  }

  .related-articles .title h2 {
    font-size: 30px !important;
  }

  .pagination-nav {
    display: flex !important;
    justify-content: center !important;
  }

  .pagination-nav ul.pagination {
    padding-top: 30px !important;
  }

  .pagination-nav ul.pagination li {
    margin-right: 10px !important;
  }

  .pagination-nav ul.pagination li a {
    border-radius: 3px !important;
    padding: 0 !important;
    height: 50px !important;
    width: 50px !important;
    line-height: 50px !important;
    text-align: center !important;
    border-color: transparent !important;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1) !important;
    color: #999999 !important;
    transition: .3s ease-in !important;
  }

  .pagination-nav ul.pagination li a:hover {
    background-color: #7d71d3 !important;
    color: #fff !important;
    border-color: transparent !important;
  }

  .pagination-nav ul.pagination .active a {
    background-color: #7d71d3 !important;
    color: #fff !important;
    border-color: transparent !important;
  }

  @media (max-width: 480px) {
    .about .content {
      text-align: center !important;
    }
  }

  .about .content h2 {
    margin-bottom: 20px !important;
    text-transform: capitalize !important;
  }

  .about .about-slider .item {
    padding: 20px !important;
  }

  .about .about-slider .owl-dots .owl-dot:hover span {
    background: #7d71d3 !important;
  }

  .about .about-slider .owl-dots .owl-dot.active span {
    background: #7d71d3 !important;
  }

  .create-stories .block img {
    width: 100% !important;
    margin-bottom: 20px !important;
  }

  .create-stories .block h3 {
    margin-bottom: 10px !important;
  }

  @media (max-width: 768px) {
    .create-stories .block {
      margin-bottom: 30px !important;
    }
  }

  .quotes .quote-slider h2 {
    font-size: 50px !important;
  }

  .quotes .quote-slider cite {
    margin-left: 150px !important;
    font-style: normal !important;
  }

  .clients {
    padding: 50px 0 !important;
  }

  .clients h3 {
    margin-bottom: 30px !important;
  }

  .clients .client-slider .owl-stage {
    display: flex !important;
    align-items: center !important;
  }

  .investors .block {
    margin-bottom: 30px !important;
  }

  .investors .block .image {
    margin-bottom: 20px !important;
  }

  .investors .block .image img {
    width: 100% !important;
    border-radius: 8px !important;
  }

  .investors .block h3 {
    margin-bottom: 0 !important;
    line-height: 1 !important;
  }

  .investors .block p {
    font-size: 14px !important;
  }

  .error-page {
    position: fixed !important;
    height: 100% !important;
    width: 100% !important;
  }

  .error-page .center {
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .error-page .center .block h1 {
    font-size: 200px !important;
    font-weight: 400 !important;
    line-height: 266px !important;
    font-family: "Josefin Sans", sans-serif !important;
  }

  .error-page .center .block p {
    margin-bottom: 50px !important;
  }

  .career-featured .block {
    display: flex !important;
  }

  @media (max-width: 768px) {
    .career-featured .block {
      flex-wrap: wrap !important;
    }
  }

  .career-featured .block .content {
    flex-basis: 100% !important;
    align-self: center !important;
  }

  @media (max-width: 768px) {
    .career-featured .block .content {
      flex-grow: 1 !important;
      width: 100% !important;
      margin-bottom: 30px !important;
      text-align: center !important;
    }
  }

  .career-featured .block .content h2 {
    margin-bottom: 30px !important;
  }

  .career-featured .block .video {
    justify-content: center !important;
    align-self: center !important;
    flex-basis: 100% !important;
    margin-left: 10px !important;
  }

  @media (max-width: 768px) {
    .career-featured .block .video {
      flex-grow: 1 !important;
      width: 100% !important;
    }
  }

  .company-fun-facts h2 {
    margin-bottom: 60px !important;
  }

  .company-fun-facts .fun-fact {
    margin-bottom: 20px !important;
    text-align: center !important;
  }

  .company-fun-facts .fun-fact i {
    font-size: 25px !important;
    display: inline-block !important;
    margin-bottom: 10px !important;
    line-height: 60px !important;
    height: 60px !important;
    width: 60px !important;
    border: 1px solid #000 !important;
    border-radius: 100% !important;
  }

  .gallery .image {
    cursor: pointer !important;
  }

  .job-list .block {
    padding: 50px 80px !important;
    background: #fff !important;
  }

  .job-list .block h2 {
    margin-bottom: 60px !important;
    font-size: 30px !important;
  }

  .job-list .block .job {
    padding: 50px 10px !important;
    border-top: 1px solid #cccccc !important;
    display: flex !important;
  }

  .job-list .block .job:last-child {
    border-bottom: 1px solid #cccccc !important;
  }

  @media (max-width: 480px) {
    .job-list .block .job {
      flex-wrap: wrap !important;
    }
  }

  .job-list .block .job .content {
    flex-basis: 100% !important;
  }

  @media (max-width: 480px) {
    .job-list .block .job .content {
      width: 100% !important;
      flex-grow: 1 !important;
      text-align: center !important;
      margin-bottom: 30px !important;
    }
  }

  .job-list .block .job .content h3 {
    margin-bottom: 0 !important;
  }

  .job-list .block .job .apply-button {
    flex-basis: 100% !important;
    align-self: center !important;
    text-align: right !important;
  }

  @media (max-width: 480px) {
    .job-list .block .job .apply-button {
      width: 100% !important;
      flex-grow: 1 !important;
      text-align: center !important;
    }
  }

  .faq .block {
    padding: 50px !important;
  }

  @media (max-width: 480px) {
    .faq .block {
      padding: 30px !important;
    }
  }

  .faq .block .faq-item {
    margin-bottom: 40px !important;
  }

  .faq .block .faq-item .faq-item-title {
    margin-bottom: 30px !important;
  }

  .faq .block .faq-item .faq-item-title h2 {
    font-size: 30px !important;
    border-bottom: 1px solid #cccccc !important;
  }

  .faq .block .faq-item .faq-item-title:last-child {
    margin-bottom: 0 !important;
  }

  .faq .block .faq-item .item .item-link {
    position: relative !important;
    padding: 10px 0 10px 18px !important;
  }

  .faq .block .faq-item .item .item-link a {
    font-size: 20px !important;
    color: #000 !important;
  }

  .faq .block .faq-item .item .item-link a span {
    margin-right: 5px !important;
  }

  .faq .block .faq-item .item .item-link:before {
    font-family: themefisher-font !important;
    content: "\f3d0" !important;
    position: absolute !important;
    left: 0 !important;
    font-weight: 600 !important;
  }

  .faq .block .faq-item .item .accordion-block {
    background: #fafafa !important;
    margin-left: 18px !important;
  }

  .faq .block .faq-item .item .accordion-block p {
    padding: 20px !important;
  }

  .privacy .privacy-nav {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 15px !important;
    background: #fafafa !important;
    padding: 30px 0 !important;
    display: flex !important;
    justify-content: center !important;
  }

  .privacy .privacy-nav ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
  }

  .privacy .privacy-nav ul li {
    list-style: none !important;
  }

  .privacy .privacy-nav ul li a {
    font-size: 20px !important;
    color: #000 !important;
    padding: 10px 0 !important;
    display: block !important;
  }

  @media (max-width: 768px) {
    .privacy .privacy-nav ul li a {
      font-size: 16px !important;
      padding: 5px 0 !important;
    }
  }

  @media (max-width: 768px) {
    .privacy .privacy-nav {
      margin-bottom: 30px !important;
    }
  }

  .privacy .block {
    background: #fff !important;
    padding: 40px 50px !important;
  }

  .privacy .block .policy-item {
    padding-bottom: 40px !important;
  }

  .privacy .block .policy-item .title {
    margin-bottom: 20px !important;
  }

  .privacy .block .policy-item .title h3 {
    border-bottom: 1px solid #cccccc !important;
    padding-bottom: 15px !important;
  }

  .privacy .block .policy-item .policy-details p {
    margin-bottom: 40px !important;
  }

  .user-login {
    height: 100% !important;
    width: 100% !important;
  }

  .user-login .block {
    display: flex !important;
  }

  @media (max-width: 768px) {
    .user-login .block {
      flex-wrap: wrap !important;
    }
  }

  .user-login .block .image {
    flex-basis: 100% !important;
    margin-right: 40px !important;
  }

  @media (max-width: 768px) {
    .user-login .block .image {
      flex-grow: 1 !important;
      text-align: center !important;
      margin-bottom: 30px !important;
      margin-right: 0 !important;
    }
  }

  .user-login .block .image img {
    border-radius: 8px !important;
  }

  .user-login .block .content {
    flex-basis: 100% !important;
    align-self: center !important;
    padding: 50px !important;
    border: 1px solid #cccccc !important;
    border-radius: 4px !important;
  }

  @media (max-width: 768px) {
    .user-login .block .content {
      flex-grow: 1 !important;
    }
  }

  .user-login .block .content .logo {
    margin-bottom: 80px !important;
  }

  @media (max-width: 992px) {
    .user-login .block .content .logo {
      margin-bottom: 40px !important;
    }
  }

  .user-login .block .content .title-text {
    margin-bottom: 35px !important;
  }

  .user-login .block .content .title-text h3 {
    padding-bottom: 20px !important;
    border-bottom: 1px solid #cccccc !important;
  }

  .user-login .block .content .new-acount {
    margin-top: 20px !important;
  }

  .user-login .block .content .new-acount p, .user-login .block .content .new-acount a {
    font-size: 14px !important;
  }

  .user-login .block .content .new-acount p a {
    color: #000 !important;
  }

  .coming-soon {
    color: #000 !important;
    padding: 120px 0 !important;
    height: 100vh !important;
  }

  @media (max-width: 992px) {
    .coming-soon {
      padding: 80px 0 !important;
    }
  }

  .coming-soon .block h3 {
    color: #999999 !important;
  }

  .coming-soon .block .count-down {
    margin-top: 70px !important;
  }

  @media (max-width: 768px) {
    .coming-soon .block .count-down {
      margin-top: 40px !important;
    }
  }

  .coming-soon .block .count-down .syotimer-cell {
    min-width: 200px !important;
    padding: 45px 0 !important;
    margin-right: 30px !important;
    margin-bottom: 20px !important;
    background: #fff !important;
    display: inline-block !important;
  }

  .coming-soon .block .count-down .syotimer-cell .syotimer-cell__value {
    font-size: 65px !important;
    line-height: 80px !important;
    text-align: center !important;
    position: relative !important;
    font-weight: bold !important;
  }

  .coming-soon .block .count-down .syotimer-cell .syotimer-cell__unit {
    font-size: 20px !important;
    color: #6c6c6c !important;
    text-transform: uppercase !important;
    font-weight: normal !important;
  }

  .address .block .address-block {
    text-align: center !important;
  }

  .address .block .address-block .icon {
    margin-bottom: 25px !important;
    display: flex !important;
    justify-content: center !important;
  }

  .address .block .address-block .icon i {
    display: block !important;
    height: 100px !important;
    width: 100px !important;
    background: #fafafa !important;
    border-radius: 100% !important;
    font-size: 45px !important;
    text-align: center !important;
    line-height: 100px !important;
  }

  .address .google-map {
    position: relative !important;
  }

  .address .google-map #googleMap {
    height: 400px !important;
    width: 100% !important;
  }

  /*# sourceMappingURL=maps/style.css.map */

  

}
