@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

body {
    background: url(background.png) no-repeat center center fixed !important; 
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

html {
	height: 100% !important;
}

body.my-login-page {
	background-color: #f7f9fb !important;
	font-size: 14px !important;
}

.my-login-page .brand {
	width: 200px !important;
	height: 80px !important;
	overflow: hidden !important;
	border-radius: 50% !important;
	margin: 1px auto !important;
	position: relative !important;
	z-index: 1 !important;
}

.my-login-page .brand img {
	width: 100% !important;
    height: 100% !important;
}

.my-login-page .card-wrapper {
	width: 400px !important;
}

.my-login-page .card {
	border-color: transparent !important;
	box-shadow: 0 4px 8px rgba(0,0,0,.05) !important;
}

.my-login-page .card.fat {
	padding: 10px !important;
}

.my-login-page .card .card-title {
	margin-bottom: 30px !important;
}

.my-login-page .form-control {
	border-width: 2.3px !important;
}

.my-login-page .form-group label {
	width: 100% !important;
}

.my-login-page .btn.btn-block {
	padding: 13px 10px !important;
}

.my-login-page .footer {
	margin: 40px 0 !important;
	color: #888 !important;
	text-align: center !important;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90% !important;
		margin: 0 auto !important;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0 !important;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px !important;
	}
}

.button_container {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 30% !important;
  }
  
  .description, .link {
    font-family: 'Amatic SC', cursive !important;
    text-align: center !important;
  }
  
  .description {
    font-size: 35px !important;
  }
  
  .btn {
    border: none !important;
    display: block !important;
    text-align: center !important;
    cursor: pointer !important;
    text-transform: uppercase !important;
    outline: none !important;
    overflow: hidden !important;
    position: relative !important;
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    background-color: #3A405A !important;
    padding: 17px 60px !important;
    margin: 0 auto !important;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20) !important;
  }
  
  .btn span {
    position: relative !important; 
    z-index: 1 !important;
  }
  
  .btn:after {
    content: "" !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    height: 490% !important;
    width: 140% !important;
    background: #0991e0 !important;
    -webkit-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg) !important;
    transform: translateX(-98%) translateY(-25%) rotate(45deg) !important;
  }
  
  .btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg) !important;
    transform: translateX(-9%) translateY(-25%) rotate(45deg) !important;
  }
  
  .link {
    font-size: 20px !important;
    margin-top: 30px !important;
  }
  
  .link a {
    color: #000 !important;
    font-size: 25px !important; 
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-google {
    background: #ff0000;
    color: rgb(255, 255, 255);
  }

  .social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.stylegoogleButton {
    margin:5px;
    width: 300px;
    height:35px;
    border-radius: 4px;
    background-image: #db3236;
    color:white;
    border:0px transparent;
    text-align: right;
    margin: 0 auto;
    width: 100%;
}

.stylefacebookButton {
    margin:5px;
    width: 300px;
    height:35px;
    border-radius: 4px;
    background-image: #db3236;
    color:white;
    border:0px transparent;
    text-align: right;
    margin: 0 auto;
    width: 100%;
}