@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

body {
    background: url(background.png) no-repeat center center fixed !important; 
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

html {
	height: 100% !important;
}

body.login-form {
	background-color: #f7f9fb !important;
	font-size: 14px !important;
}

.login-form .brand {
	width: 200px !important;
	height: 80px !important;
	overflow: hidden !important;
	border-radius: 50% !important;
	margin: 1px auto !important;
	position: relative !important;
	z-index: 1 !important;
}

.login-form .brand img {
	width: 100% !important;
    height: 100% !important;
}

.login-form .card-wrapper {
	width: 400px !important;
}

.login-form .card {
	border-color: transparent !important;
	box-shadow: 0 4px 8px rgba(0,0,0,.05) !important;
}

.login-form .card.fat {
	padding: 10px !important;
}

.login-form .card .card-title {
	margin-bottom: 30px !important;
}

.login-form .form-control {
	border-width: 2.3px !important;
}

.login-form .form-group label {
	width: 100% !important;
}

.login-form .btn.btn-block {
	padding: 13px 10px !important;
}

.login-form .footer {
	margin: 40px 0 !important;
	color: #888 !important;
	text-align: center !important;
}

@media screen and (max-width: 425px) {
	.login-form .card-wrapper {
		width: 90% !important;
		margin: 0 auto !important;
	}
}

@media screen and (max-width: 320px) {
	.login-form .card.fat {
		padding: 0 !important;
	}

	.login-form .card.fat .card-body {
		padding: 15px !important;
	}
}

.button_container {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 30% !important;
  }
  
  .description, .link {
    font-family: 'Amatic SC', cursive !important;
    text-align: center !important;
  }
  
  .description {
    font-size: 35px !important;
  }
  

  .btn {
    border: none !important;
    display: block !important;
    text-align: center !important;
    cursor: pointer !important;
    text-transform: uppercase !important;
    outline: none !important;
    overflow: hidden !important;
    position: relative !important;
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    background-color: #3A405A !important;
    padding: 17px 60px !important;
    margin: 0 auto !important;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20) !important;
  }
  
  .btn span {
    position: relative !important; 
    z-index: 1 !important;
  }
  
  .btn:after {
    content: "" !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    height: 490% !important;
    width: 140% !important;
    background: #0991e0 !important;
    -webkit-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg) !important;
    transform: translateX(-98%) translateY(-25%) rotate(45deg) !important;
  }
  
  .btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg) !important;
    transform: translateX(-9%) translateY(-25%) rotate(45deg) !important;
  }
  
  .link {
    font-size: 20px !important;
    margin-top: 30px !important;
  }
  
  .link a {
    color: #000 !important;
    font-size: 25px !important; 
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: #f9f9f9;
  }
  
  /* Twitter */
  .fa-google {
    background: #ff0000;
    color: rgb(255, 255, 255);
  }

  .social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.stylegoogleButton {
    margin:5px;
    width: 300px;
    height:35px;
    border-radius: 4px;
    background-image: #db3236;
    color:#f9f9f9;
    border:0px transparent;
    text-align: right;
    margin: 0 auto;
    width: 100%;
}

.stylefacebookButton {
    margin:5px;
    width: 300px;
    height:35px;
    border-radius: 4px;
    background-image: #db3236;
    color:#f9f9f9;
    border:0px transparent;
    text-align: right;
    margin: 0 auto;
    width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

main {
  .sidebar {
    left: 0;
    position: fixed !important;
    width: 13% !important;
    height: 100vh !important;
    background: #3A405A !important;
    font-size: 0.65em !important;
  }
  
  .user-text {
    font-size: 1em !important;
  }

  .nav {
    position: relative !important;
    margin: 0 13% !important;
    text-align: right !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    font-weight: bold !important;
  }
  
  .nav ul {
    list-style: none !important;
    
    li {
      position: relative !important;
      margin: 3.2em 0 !important;

      button {
        border: none !important;
        display: block !important;
        text-align: center !important;
        cursor: pointer !important;
        text-transform: uppercase !important;
        outline: none !important;
        overflow: hidden !important;
        position: relative !important;
        color: #fff !important;
        font-weight: 700 !important;
        font-size: 15px !important;
        background-color: #000 !important;
        padding: 17px 25px !important;
        margin: 0 auto !important;
        box-shadow: 0 5px 15px rgba(0,0,0,0.20) !important;
      }

      a {
        line-height: 5em !important;
        text-transform: uppercase !important;
        text-decoration: none !important;
        letter-spacing: 0.4em !important;
        color: rgba(rgb(255, 255, 255), 0.65) !important;
        display: block !important;
        transition: all ease-out 300ms !important;
      }
      
      &.active a {
        color: rgb(255, 255, 255) !important;
      }
      
      &:not(.active)::after {
        opacity: 0.2 !important;
      }
      
      &:not(.active):hover a {
        color: rgba(rgb(255, 255, 255), 1.0) !important;
      }
      
      &::after {
        content: '' !important;
        position: absolute !important;
        width: 100% !important;
        height: 0.2em !important;
        background: rgb(255, 255, 255) !important;
        left: 0 !important;
        bottom: 0 !important;
        background-image: linear-gradient(to right, #5e42a6, #b74e91) !important;
      }
    }
  }
}

.pet-container {

  margin: auto !important;
    font-family: "Poppins", Arial, san-serif !important;
    line-height: 1.4 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: color(#f9f9f9) !important;
    height: 100% !important;

  @import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600");

  * {
    box-sizing: border-box !important;
  }

  html,
  body {
    height: 100% !important;
  }

  .pet-card {
    background: #fff
    url("https://timelinecovers.pro/facebook-cover/download/Flower-Field-facebook-cover.jpg")
    top -10% center no-repeat;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 0 10px 30px -5px rgba(60, 60, 60, 0.2);
  text-align: center;
  padding: 15px 30px;

    img {
      background-color: color(#dddfe6) !important;
      height: 120px !important;
      width: 120px !important;
      border-radius: 50% !important;
      margin: auto auto 15px !important;
      display: block !important;
    }
    h1 {
      font-size: 22px !important;
      margin: 10px auto 0 !important;
      letter-spacing: 1px !important;
    }
    h2 {
      margin: auto !important;
      color: darken(#dddfe6, 15) !important;
      font-weight: 300 !important;
      font-size: 14px !important;
    }

    .button {
      display: block !important;
      text-decoration: none !important;
      background: color(#3b70fc) !important;
      color: color(#008cff) !important;
      padding: 12px !important;
      border: none !important;
      border-radius: 25px !important;
      margin-top: 30px !important;
      font-size: 16px !important;
      font-weight: 700 !important;
      min-width: 200px !important;
      transition: 0.2s !important;

      span {
        font-size: 20px !important;
        line-height: 1 !important;
        vertical-align: top !important;
      }
      
      &:hover {
        background: darken(#3b70fc, 7) !important;
      }
    }
  }
}

